<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>????</title>
<body>
<nav aria-label="Page navigation" style="float: right;" th:fragment="pag">
    <ul class="pagination">
        <li th:if="${pagination.showFirstPage}">
            <a href="?page=1" aria-label="First">
                <span aria-hidden="true">首页</span>
            </a>
        </li>
        <li>
            <a  th:href="${'?page='+(pagination.page-1)}" aria-label="Previous" th:if="${pagination.showPrevious}">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        <li th:each="i:${pagination.pages}"><a th:href="${'?page='+i}" th:text="${i}" th:style="${(pagination.page==i)?'color:white;background-color:#66ccff':''}"></a></li>

        <li>
            <a th:href="${'?page='+(pagination.page+1)}" aria-label="Next" th:if="${pagination.showNext}">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
        <li>
            <a th:href="${'?page='+pagination.totalPage}" aria-label="End" th:if="${pagination.showEndPage}">
                <span aria-hidden="true">尾页</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>